.profile__edit {
  background: no-repeat url('../../../images/edit.svg') center;
  background-size: 10px;
  border: 1px solid white;
  width: 24px;
  height: 24px;
  transition: all 1s ease-in-out;
  margin: 0;
  padding: 0;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .profile__edit {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
  }
}