.cards__delete {
  position: absolute;
  transform: translate(244px, 20px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../../../images/remove.svg);
  border: none;
  min-width: 18px;
  min-height: 19px;
  transition: all 1s ease-in-out;
  margin: 0;
  padding: 0;
}

.cards__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}