.header {
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 45px auto 0;
  padding: 0 0 40px;
} 

@media screen and (max-width: 924px) {
  .header {
    max-width: 600px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    min-width: 100%;
    margin: 0 auto 42px auto;
    padding: 28px 0 0;
  }
}